@import "tailwindcss";

html,
body,
#root {
    height: 100%;
}

.btn {
    padding: 0.5rem 0.75rem;
    background: #4f46e5;
    color: white;
    border-radius: 0.5rem;
}
.btn-outline {
    padding: 0.5rem 0.75rem;
    border: 1px solid #e6e6e6;
    border-radius: 0.5rem;
}

/* small utility tweaks */
input,
textarea,
select {
    transition: box-shadow .12s ease;
}
input:focus,
textarea:focus,
select:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(79, 70, 229, 0.08);
}